@import './normalize.css';
@import './global.css';
@import './animation.css';

#container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4% 96%;
    font-family: 'Bebas';
}

header {
    width: 100%;
    grid-column: 1/1;
    grid-row: 1/1;
    background: var(--obscure);
    box-shadow: 1px 1px 2px var(--pure);
    -webkit-app-region: drag;
}

main {
    width: 100%;
    height: 96vh;
    grid-column: 1/1;
    grid-row: 2/2;
    display: grid;
    grid-template-rows: 70% 30%;
    animation: 1s ease-out 0s 1 appear;
}

#title-player {
    grid-row: 1/1;
    justify-self: center;
    align-self: center;
    font-size: 1500%;
}

#main-div-player {
    width: 100%;
    height: 100%;
    grid-row: 2/2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-items: center;
}

#link-input-player {
    grid-row: 1/1;
    outline: none;
    width: 60%;
    padding: 1%;
    text-align: center;
    border: none;
}

#buttons-player {
    grid-row: 2/2;
    display: grid;
}

#play-button {
    justify-self: center;
    align-items: center;
    font-size: 300%;
    color: var(--pure);
    background: var(--transparent);
    border: none;
    transition: 1s;
}


#play-button:hover {
    font-size: 500%;
    color: var(--obscure);
}

#play-button:focus {
    outline: none;
}
