<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./../styles/index.css">
        <title>Cynical</title>
    </head>
    <body>
        <div id="container">
            <header>
            </header>
            <main>
                <h2 id="title-player">♫</h2>
                <div id="main-div-player"> 
                    <input id="link-input-player" placeholder="YouTube Link" type="text">
                    <div id="buttons-player">
                        <button id="play-button">►</button>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
